- provide(:title, 'About')
%h1 Biography
.well.about{style: "border: 1px solid #AFAFAF;"}
  %p
    %img.img-rounded{:align => "left", :src => "/assets/aboutMe.jpg", style: "margin: 8px 15px 0 -2px;"}
    It all started on Kaua'i after two years of Bible College: I
    wanted to become a DJ. I was 23 and had just gotten back
    home and had nothing going for me. I stumbled upon an ad on Craigslist
    from a radio station declaring they were looking for interns! The way I saw
    it was (1): I knew I was going to work for free at some point, (2): it was
    like free college, and (3): it'd be a fun job.
    %br
    %br
    I became the first paid intern out of the pool at that time and was responsible for
    an on-air shift for a hip hop, r&b, and dance hits station. I progressed toward
    being on two additional radio stations. This initial opportunity handed me a shot at becoming a party dj.
    It's an awesome feeling to mix beats in front of a crowd, and
    my mentors at the time constantly provided positive feedback. I eventually let the
    party life get the best of me and lost my job as both a radio and club dj.
    So I moved to Maui.
    %br
    %br
    With not much, I initially did a work trade for free rent deal. I felt trapped and fortunately moved on to another
    radio station company.
    I've met all kinds of characters throughout my career. A couple of people stood out:
    the money makers, the superstars, and the vultures. The
    money maker helped me kick my career off in the club; he's a great
    friend still to this day. The superstars were kind as well.
    It was the vulture who lost my trust.
    %br
    %br
    To bring us back into the present time; I'm now partnered with
    DJ Big Mike and All Access Entertainment. This has been the
    best part of my career as a DJ, a promoter, and an events coordinator.
    As a DJ I create mashups, remixes, and mixes for the people
    and those I DJ for in clubs or parties. I have worked with
    many big names but I am not much of a name dropper. If you
    need to know who, email me and we'll talk more. I am hoping still
    to put together more original music with various producers.
    %br
    %br
    I dream to dj on a global level for everyone one show at a time.
    I look forward to seeing you all one day. :)
    %br
    %br
    If you want to see what it is like for a dj coming up in this
    world, stay connected here.
